# Postgres
PG_DB=dwd
PG_SUPER_USER=postgres
PG_SUPER_PASS=admin
PG_WRITER_USER=dwd_writer
PG_WRITER_PASS=dwdw
PG_GRAFANA_USER=grafana
PG_GRAFANA_PASS=grafana
PG_NAGIOS_USER=nagios
PG_NAGIOS_PASS=nagios

# Grafana
GF_USER=admin
GF_PASS=admin
